<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Recipe Confirmation</title>
</head>

<body>
    <h1>You have successfully added your recipe.</h1>
    <p><strong>Dish Name: </strong><%- name %></p>
    <p><strong>Ingredients: </strong><%- ingr %></p>
    <p><strong>Instruction: </strong><%- instr%></p>
    <style>
        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</body>

</html>