<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Recipe Confirmation</title>
</head>

<body>
    <h1>Here are your search results</h1>
    <h2>Dish Information: </h2>
    
    Name: <%- name %>
    <br>
    Instructions: 
</body>

</html>