<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Your Recipe</title>
</head>

<body>
	<h1>Add Your Own Recipe!</h1>
    <form action="/acceptRecipe" method="post">
        Dish Name: <input type="text" name="name">
        <br>
        <br>
        Dish Ingredients (Format: "Ingredient - Measurement"): <br>Use a new line for each ingredient!<br><textarea placeholder="Cinnamon - 3 tsp &#10Garlic - 1 clove" name="ingr"></textarea>
        <br>
        <br>
        Instructions: <br>Use a new line for each instruction!<br><textarea placeholder="Break 3 eggs &#10Whisk 3 eggs" name="instr"></textarea>
        <br>
        <br>
        <input type="submit">
        <input type="reset">
    </form>
    <hr>
    <a href="/">Home</a>
</body>

</html>