<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PalateSavor</title>
</head>
<body>
    <h1>PalateSavor</h1>
    <hr>
    <h2>Public Recipes</h2>
    <a href="/searchPublicRecipe">Search our database of recipes!</a>
	<h2>Your Private Recipes</h2>
    <a href="/addRecipe">Add your own recipes!</a>
    <br>
    <a href="/searchPrivateRecipe">Search up private recipes!</a>
    <style>
        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: blue;
        }
        h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a:hover {
            color: red;
        }
    </style>
</body>

</html>