<!-- <!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Index</title>
</head>

<body>
	<h1>Welcome to Terps Summer Camp</h1>
    <h2>Add your own recipes</h2>
    <h2>Search up recipes</h2>
    
</body>

</html> -->


<!-- 
    
    get for add rec
    
    <!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Index</title>
</head>

<body>
	<form action="http://localhost:5000/order" method="post">
        Name of Dish:<input

    </form>
    
</body>

</html> -->


<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Private Recipes</title>
</head>

<body>
    <h1>Public Recipes</h1>
    <a href="/searchPublicRecipe">Search our database of recipes!</a>
	<h1>Your Private Recipes</h1>
    <a href="/addRecipe">Add your own recipes!</a>
    <br>
    <a href="/searchPrivateRecipe">Search up private recipes!</a>
</body>

</html>