<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Private Recipes</title>
</head>

<body>
	<h1>Search Private Recipes</h1>
    <form action="/processSearchPriv" method="post">
        <p><strong>Recipe Name: </strong></p><input name="name" type="text">
        <input type="submit">
        <input type="reset">
    </form>
    <hr>
    <a href="/">Home</a>
    <style>
        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a:hover {
            color: red;
        }
    </style>
</body>
</html>