<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Private Recipes</title>
</head>

<body>
	<h1>Search Private Recipes</h1>
    <form action="/acceptSearchPrivateRecipe" method="post">
        <strong>Recipe Name: </strong><input name="name" type="text">
        <br>
        <br>
        <input type="submit">
        <input type="reset">
    </form>
    <hr>
    <a href="/">Home</a>
</body>
</html>