<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PalateSavor</title>
</head>
<body>
    <h1>PalateSavor</h1>
    <hr>
	<p><strong>Dish Name: </strong><%- mealName %></p>
    <p><strong>Ingredients List: </strong><%- ingredientList %></p>
    <p><strong>Instructions: </strong><%- instructions %></p>
    <div id="recipeCard">
    </div>
    <hr>
    <a href="/">Home</a>
    <style>
        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: blue;
        }
        h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a:hover {
            color: red;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</body>

</html>